@import "variables.css";
@import "navbar.css";
@import "footer.css";
@import "default.css";


.main {
    margin-top: 10rem;
    padding-top: 8rem;
}




.blog-desc {
    display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient();
}

.blog-desc-title {}

.blog-info {}

.blog-info-date {}

.blog-info-category {}




.blog-header {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.blog-header img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: .9rem;
}

.blog1 {
    height: 8rem;
}

.blog2 {
    height: 46rem;
}

.blog-header-left,
.blog-header-righ {
    width: 49.3%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.blog-header-left img {
    width: 100%;
}

.blog3 {
    height: 27rem;
}

.blog4 {
    height: 27rem;
}

.blog1,
.blog2,
.blog3,
.blog4 {
    border-radius: .9rem;
    cursor: pointer;
    position: relative;
}






.section_header_container {
    margin-top: 11rem;
}

.category {
    margin-top: 10rem;
}

.section_title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 1.2rem;
}

.section_title::before {
    content: "";
    display: block;
    width: 8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--main-color);
    margin: 0 auto;
    margin-bottom: 1rem;
}

.section_desc {
    font-size: 1.2rem;
    text-align: center;
    color: var(--txt-color3);
    display: block;
    margin-bottom: 3.5rem;
}


/* !============================ Blog New Started =============================== */

.blog {}

.blog_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog_item {
    width: 24rem;
    background-color: var(--bg-color);
    border-radius: 0.8rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-between;
}


.blog_cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
}

.blog_cover {
    height: 15rem;
}

.blog_title {
    padding: 0 1.8rem;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: var(--txt-black);
    margin-top: 1.4rem;
}

.blog_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--links-color);
    font-size: 14px;
    margin: 1.4rem 0;
}

.blog_date {
    color: var(--links-color);
    font-size: 14px;
}

.blog_date svg path,
.blog_category svg path {
    fill: var(--svg-color);
}

.blog_category {}

.blog_date,
.blog_category {
    display: flex;
    align-items: center;
    gap: .5rem;
    color: var(--links-color);
    font-size: 1.4rem;
    padding: 0 1.8rem;
}

.show_all {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--main-color);
    text-shadow: 0 0 10px #00000033;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.show_blog {
    text-shadow: 0px 0px 5px #d772ff35;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    color: var(--main-color);
}

.popular_laptop {
    margin: 10rem 0;
}

.popular_laptop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* !============================ Blog New Finishd =============================== */








/* ? ============================ Blog New Started =============================== */

.blog-category-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
    background-color: var(--border-profile);
    border-radius: 2.4rem;
    width: 28%;
    margin: 0 auto 4rem auto;
}

.blog-category-items {
    padding: .9rem 2.6rem;
    border-radius: 2.4rem;
    cursor: pointer;
    transition: all .3s ease;
}

.blog-category--active {
    background-color: var(--main-color);
    transition: all .3s ease;
    color: #eaeaea;
}

/* ? ============================ Blog New Finishd =============================== */







/* * ============================ Blog New Started =============================== */

.most-visited-blog {}

.most-visited-blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;
    justify-content: space-between;
}

.most-visited-blog-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: .8rem;
    width: 49.3%;
    gap: 2rem;
    padding: .9rem;
}

.most-visited-blog-right {}

.most-visited-blog-left {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.most-visited-title {
    font-weight: 600;
    font-size: 18px;
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 1rem;
    margin-bottom: 1.2rem;
}

.most-visited-desc {
    font-size: 14px;
}

.most-visited-date {
    color: var(--c737373);
    font-size: 12px;
}

.most-visited-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog-category-label {
    color: var(--bg-label-color);
    background-color: var(--bg-color-violet);
    padding: .4rem 1.6rem;
    border-radius: 35px;
    font-size: 12px;
}

.most-visited-footer a {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 14px;
    color: var(--main-color);
}

/* * ============================ Blog New Finishd =============================== */























/* ? Media Queries ================================================================ */


@media (min-width: 1400px) {
    .container {
        width: 1250px;
    }
}

/* =========================================================================================== */
@media screen and (max-width: 1400px) {
    .blog_item {
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        width: 98%;
    }

    .blog_title {
        font-size: 1.4rem;
    }

    .blog_info span {
        flex-direction: column-reverse;
        text-align: center;
    }

    .blog_info {
        justify-content: space-around;
    }

    .blog_date,
    .blog_category {
        padding: 0 1.4rem;
    }

    .blog-category-wrapper {
        width: 26rem;
    }
}

/* =========================================================================================== */
@media screen and (max-width: 1200px) {
    .most-visited-blog-right {
        width: 100%;
    }

    .most-visited-blog-right img {
        width: 100%;
    }

    /* .most-visited-title {
        font-size: 16px;
    }

    .most-visited-desc {
        font-size: 12px;
    } */


}

/* =========================================================================================== */
@media screen and (max-width: 992px) {



    .most-visited-blog-item {
        flex-direction: column;
    }

    .most-visited-blog-right {
        width: 100%;
        max-height: 25rem;
    }

    .most-visited-blog-right img {
        width: 100%;
        max-height: 25rem;
    }
}

/* =========================================================================================== */
@media screen and (max-width: 768px) {
    .blog-header {
        flex-direction: column;
    }

    .blog-header-righ,
    .blog-header-left {
        width: 100%;
    }

    .blog-header-left,
    .blog-header-righ {
        gap: 0;
    }

    .blog1 {
        margin-bottom: 2.5rem;
        height: 6rem;
    }

    .blog1 img {
        object-fit: contain;
    }

    .blog2,
    .blog3,
    .blog4 {
        width: 100%;
        height: 32rem;
        margin-bottom: 2.5rem;
    }


}

/* =========================================================================================== */
@media screen and (max-width: 576px) {

    .blog-slider .swiper-button-prev,
    .blog-slider .swiper-button-next {
        width: 3rem !important;
        height: 3rem !important;
        border-radius: .6rem !important;
    }

    .blog-slider .swiper-button-prev svg,
    .blog-slider .swiper-button-next svg {
        width: 1.2rem !important;
        height: 1.2rem !important;
    }

    .blog_date,
    .blog_category {
        padding: 0 1.2rem;
    }

    .blog_title {
        font-size: 1.2rem;
    }

    .show_blog {
        font-size: 1.4rem;
    }

    .blog_cover {
        min-height: 13rem;
    }

    .most-visited-title,
    .most-visited-footer a {
        font-size: 12px;
    }

    .most-visited-desc {
        font-size: 1rem;
    }

    .blog2,
    .blog3,
    .blog4 {
        max-height: 27rem;
    }
}

/* =========================================================================================== */
@media screen and (max-width: 470px) {}

/* =========================================================================================== */
@media screen and (max-width: 400px) {}