@import "variables.css";
@import "navbar.css";
@import "footer.css";
@import "default.css";
@import "swiper.css";




.main {
    margin-top: 10rem;
    padding-top: 6rem;
}

.container {}

.product-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-header_right {
    width: 29%;
    padding-left: 2rem;
    border-left: 1px solid #CCCCCC;
}


.product-header_right--activ {
    transition: transform 0.3s ease;
}

.product-header_right img {
    width: 100%;
}

.product-images-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    gap: 0.6rem;
}

.product-images {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11rem;
    height: 8rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    transition: transform 0.3s ease;
}

.product-images img {
    width: 90% !important;
    border-radius: 6px;
    transition: filter 0.3s ease;
    display: block;
}

/* لایه بلور پیش‌فرض روی همه */
.product-images-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    background-color: transparent;
    z-index: 10;
    border-radius: 6px;
    transition: all 0.3s ease;
    pointer-events: none;
}

/* وقتی آیتم فعال می‌شه بلور برداشته می‌شه */
.product-images.active .product-images-blur {
    backdrop-filter: none;
    background-color: transparent;
    width: 13rem;
    height: 10rem;
}



.product-header_right_footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.svg-product {
    cursor: pointer;
}

.svg-product svg path {
    stroke: var(--s292929);
}

.popular-products-btn svg path {
    stroke: #d32f2f !important;
    transition: all .2s ease;
}

.like-product {
    fill: #d32f2f;
    transition: all .2s ease;
    stroke: #d32f2f;
}

.product-header_left {
    width: 69%;
}

.product-title {}

.product-title h1 {
    font-weight: 700;
    font-size: 24px;

}

.product-title span {
    color: var(--c737373);
    font-size: 14px;
}

.products_main {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #cccccc;
    padding: 2rem 0;
    margin: 2rem 0;
}

.products_main a {
    display: flex;
    align-items: center;
    gap: .6rem;
    color: var(--main-color);
}

.products_main-divs {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.products_main-divs h3 {
    font-size: 17px;
    font-weight: 600;
}

.products_main-divs span {
    font-size: 14px;
    color: var(--svg-color);
}

.products_main-divs div {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #787878;
}


.products_main_colors {}

.color-box span {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 100%;
}

.color-box_black span {
    display: block;
    background-color: black;
}

.color-box_white span {
    display: block;
    background-color: #EAEAEA;
}

.color-box_gray span {
    display: block;
    background-color: gray;
}

.products_main_comments {}

.products_main_rating {}

.count-user-comments {}

.product-cunt-rating {
    gap: 0 !important;
    color: #EFC003 !important;
}

.product-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-footer-right {
    width: 50%;
}

.product-footer-right h4 {
    margin-bottom: 1rem;
}

.product-footer-right-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2.5rem;
}

.product-footer-right-items {
    width: 14rem;
    height: 11.5rem;
    border-radius: 8px;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;
}

.product-footer-right-items svg path {
    fill: var(--border-color2);
}

.product-footer-right-items span {
    color: var(--border-color2);
    font-size: 14px;
}

.brand-product {
    font-size: 2rem;
    font-weight: 600;
}

.product-footer-left {
    width: 47%;
    height: 289px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-footer-left h3 {
    font-weight: 600;
    font-size: 2.5rem;
}

.product-footer-left p {
    font-size: 1.5rem;
    margin: .6rem 0;
}

.product-price {
    text-align: center;
    font-size: 3.4rem;
    color: var(--main-color);
    margin: .6rem 0;
}

.product-price span {
    font-size: 1.4rem;
    color: var(--main-color);
}

.guarantee {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.guarantee div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

#ssss {
    color: #FF4545;
}

.add-to-cart-btn {
    width: 100%;
    border-radius: 9px;
    background-color: var(--main-color);
    font-size: 19px;
    color: var(--txt-color);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .6rem 0;
}

.comparison {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border-radius: 9px;
    width: 100%;
    height: 5rem;
    margin-top: .6rem;
}






















.product-info {
    margin-top: 10rem;
}

.section_active {
    color: var(--main-color);
    position: relative;
}

.section_active::after {
    content: '';
    position: absolute;
    width: 6.7rem;
    height: .8rem;
    background-color: var(--main-color);
    border-top-left-radius: .9rem;
    border-top-right-radius: .9rem;
    bottom: -12px;
    left: 0;
    right: 0;
    margin: auto;
}

.product-info-header {
    display: flex;
    align-items: center;
    gap: 4rem;
    padding-bottom: 1rem;

    border-bottom: 1px solid #CCCCCC;
}

.product-info-header div {
    cursor: pointer;
}

.product-specs {
    margin-top: 4rem;
}

.product-specs__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
    font-weight: 700;
}

.products-specs-rows {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.product-specs__icon {}

.product-specs__title {}

.product-specs__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--bg-color);
    padding: 0 32px;
    border-radius: 3px;
    height: 7rem;
}

.product-specs__value {}

.product-specs__label {}





/** ========================= Description Product ========================= */
.product-introduction {
    border-top: 1px solid #CCCC;
    border-bottom: 1px solid #CCCC;
    padding: 7rem 0;
    margin: 5rem 0;
}







.description-container {
    max-width: 100%;
    margin: auto;
    line-height: 2.4rem;
    font-size: 1.6rem;
    position: relative;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.description-right {
    width: 73%;
}

.description-title {
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.2rem;
}

.description-text {
    transition: all .2s ease-in;
    overflow: hidden;
    transition: max-height 0.3s ease;
    letter-spacing: 3%;
    font-size: 1.8rem;

}

.description-text.limited {
    transition: all .2s ease-in;
    max-height: 25.5rem;
    /* حدود 4 خط متن */
    position: relative;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}

.toggle-btn {
    font-family: var(--yekan);
    background: none;
    border: none;
    color: #831FC1;
    cursor: pointer;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    margin-top: 2rem;
}

.description-left {
    width: 23%;
    height: 31.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description-left img {
    width: 100%;
}





















.section_header_container {
    margin-top: 11rem;
}

.category {
    margin-top: 10rem;
}

.section_title {
    font-size: 2.4rem;
    font-weight: bold;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 1.2rem;
}

.section_title::before {
    content: "";
    display: block;
    width: 8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--main-color);
    margin: 0 auto;
    margin-bottom: 1rem;
}

.section_desc {
    font-size: 1.2rem;
    text-align: center;
    color: var(--txt-color3);
    display: block;
    margin-bottom: 3.5rem;
}


/*! ======================== Slider Styles ========================== */


.discount_left {
    display: flex;
    gap: 2rem;
    width: 82%;
    height: 28rem;
}

.discount_left_item img {
    width: 100%;
    height: 128px;
    object-fit: contain;
}

.discount_left_item {
    width: 20rem;
    height: 28rem;
    background-color: var(--bg-color);
    border-radius: 0.8rem;
}

.discount_left_item_info {}

.discount_left_item_title {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
}

.discount_left_item_rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9rem;
}

.product_send_post img {
    width: 1.6rem;
    height: 1.6rem;
}

.product_rating_count img {
    width: 2.4rem;
    height: 2.4rem;
}

.product_org_price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.9rem;
}

#sss {
    display: flex;
    gap: 0.5rem;
    color: var(--links-color);
}

.discount_range {
    font-size: 10px;
    background-color: #d32f2f;
    padding: 2px 1.2rem 0;

    border-radius: 1.2rem;
    color: var(--txt-color);
}

.orginal_price {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}

.product_send_post {
    background-color: var(--bg-color-violet);
    border-radius: 2.4rem;
    padding: 0.1rem 0.8rem;
    font-size: 1.2rem;
    color: var(--bg-label-color);
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.product_rating_count {
    color: #efc003;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.discount_left_item img,
.discount_left_item_title,
.discount_left_item_rating,
.product_org_price {
    margin-bottom: 0.4rem;
}

.best_selling_products_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selling_products_item {
    width: 24rem;
    height: 30rem;
    border-radius: 0.8rem;
    background-color: var(--bg-color);
    padding-bottom: 0.9rem;
}

.best-sell-title {
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0 1.3rem;
}

.selling_products_item img {
    width: 100%;
    object-fit: contain;
}

.best_product_img {
    height: 14rem;
}

#info {
    margin: 2rem 0;
}

.info {
    display: flex;
    margin: 0 !important;
    justify-content: end;
}

.show_all {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: var(--main-color);
    text-shadow: 0 0 10px #00000033;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.brand {}

.branding_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand_img {
    width: 20rem;
}

.brand_img img {
    width: 100%;
    height: 10.5rem;
    object-fit: contain;
}

.new_product {}

.new_product_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
















/*! ==================================== Slider Styles ====================================== */
.comments {
    margin-top: 14rem;
}

.comments h4 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 2rem;
}

.commnets-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.review-box {
    background-color: var(--comment-box-wrapper);
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    margin: auto;
}

.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reviewer-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #eee;
}

.reviewer-details {
    display: flex;
    flex-direction: column;
}

.reviewer-name {
    font-weight: bold;
    font-size: 17px;
}

.badge {
    background-color: var(--bg-color-violet);
    color: #a347e3;
    font-size: 13px;
    border-radius: 8px;
    padding: 2px 8px;
    width: fit-content;
}

.review-meta {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-size: 14px;
    color: #666;
}

.review-date {
    color: var(--svg-color);
}



.review-rating {
    color: #EFC003;
    font-size: 2rem;
    font-weight: 600;
}

.review-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-content {
    font-size: 15px;
    line-height: 1.8;
    color: var(--svg-color);
}

.review-content strong {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: .8rem;
    margin-top: .8rem;
    display: block;
}

.review-content p {
    font-size: 14px;
}

.review-actions {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: end;
}

.action {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.positive {
    background-color: var(--comment-box-like);
    color: var(--comment-like);
}

.negative {
    background-color: var(--comment-box-dis);
    color: var(--comment-dis);
}