<footer class="footer">
  <div class="newsletter-container">
    <div class="container">
      <div class="newsletter-wrapper">
        <div class="newsletter-right">
          <h2>خبرنامه</h2>
          <p>ایمیلتو توی باکس جلویی برام بنویس تا از اخبار جا نمونی!</p>
        </div>
        <div class="newsletter-left">
          <form action="#" class="newsletter-form">
            <input
              type="email"
              class="newsletter-input"
              placeholder="لطفا ایمیل خود را وارد کنید..."
            />
            <button type="submit" class="newsletter-button">ثبت ایمیل</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="footer-top">
      <div class="footer-top__right">
        <div class="logo-site">
          <a href="./index.html">
            <img src="./images/logo/Vector.png" alt="Tak Shop Logo" />
            <span>تک شاپ</span>
          </a>
        </div>

        <p class="footer-top__right__text">
          فروشگاه اینترنتی تک شاپ فعالیت خود را از سال 1400 آغاز کرد و هدف اصلی
          آن ارائه بهترین و جدیدترین کالهای دیجیتال با قیمت مناسب و تضمین اصالت
          کالا است. با تیمی متخصص و پشتیبانی قوی، ما تلاش می کنیم تا تجربه خریدی
          راحت و مطمئن را برای شما فراهم کنیم.
        </p>
      </div>

      <div class="footer-top__links">
        <div class="footer_links category_links">
          <h2>دسته بندی</h2>
          <ul>
            <li><a href="#">موبایل</a></li>
            <li><a href="#">لپ تاب</a></li>
            <li><a href="#">لوازم جانبی لپ تاب</a></li>
            <li><a href="#">دوربین</a></li>
            <li><a href="#">ساعت هوشمند</a></li>
          </ul>
        </div>
        <div class="footer_links links">
          <h2>لینک ها</h2>
          <ul>
            <li><a href="#">تماس با ما</a></li>
            <li><a href="#">درباره ما</a></li>
            <li><a href="#">سوالات متداول</a></li>
            <li><a href="#">لوازم شرایط و قوانین </a></li>
            <li><a href="#">حریم خصوصی</a></li>
          </ul>
        </div>
        <div class="footer_links services_links">
          <h2>خدمات</h2>
          <ul>
            <li><a href="#"> پیگیری خرید </a></li>
            <li><a href="#"> گارانتی</a></li>
            <li><a href="#">روش های پرداخت </a></li>
            <li><a href="#"> روش های سفارش </a></li>
            <li><a href="#">خدمات پس از فروش </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom__right">
        <div class="site-information_wrapper">
          <div class="site-information">
            <div class="email">
              <img src="./images/svgs/email.svg" alt="" />
              <span>پست الکترونیکی</span>
            </div>
            <p>takshoppp@gmail.com</p>
          </div>
          <div class="site-information">
            <div class="location">
              <img src="./images/svgs/location.svg" alt="" />
              <span> آدرس</span>
            </div>
            <p>تهران - ولیعصر - پلاک 188</p>
          </div>
          <div class="site-information">
            <div class="phone">
              <img src="./images/svgs/phone.svg" alt="" />
              <span> تلفن</span>
            </div>
            <p>021-12345678</p>
          </div>
        </div>
      </div>
      <div class="footer-bottom__left">
        <div class="social-media__wrapper">
          <div class="social-media_item">
            <img src="./images/svgs/telegram.svg" alt="" />
          </div>
          <div class="social-media_item">
            <img src="./images/svgs/twitter.svg" alt="" />
          </div>
          <div class="social-media_item">
            <img src="./images/svgs/instagram.svg" alt="" />
          </div>
          <div class="social-media_item">
            <img src="./images/svgs/facebook.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copy_righr_wrapper">
    <img src="./images/svgs/copy-logo.svg" alt="" />
    <span
      >- تمامی حقوط محفوظ است. لطفا برای استفاده از محتوای ما، با ما در تماس
      باشید! -</span
    >
  </div>
</footer>
